[Unit]
Description=Nexus Repository Manager 3.80.0
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
User={{ nexus_user | default('nexus') }}
Group={{ nexus_group | default('nexus') }}
ExecStart={{ nexus_home | default('/opt/nexus') }}/bin/nexus start
ExecStop={{ nexus_home | default('/opt/nexus') }}/bin/nexus stop
Restart=on-failure
RestartSec=30
Environment={{ nexus_environment_vars | default('') }}

[Install]
WantedBy=multi-user.target
